<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../../assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
       
    </head>
    <body>
        <!-- Navigation-->
        
        <!-- Header-->
        <header class="bg-dark py-5">
            
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    
                    <div class="background-container">
                        <p> {{header2 }} </p>
                        <p>"Unlock your productivity potential with Todoerist."</p>
                        <button class="button" routerLink="/list">Create Your Todo-List</button>

                      </div>
                </div>
            </div>
            <div class="container">
                <h3 class="welcome-message">
                  Welcome to Todoerist, your ultimate companion in productivity! Whether you're managing personal projects, tackling professional deadlines, or simply staying on top of daily tasks, Todoerist empowers you to organize, prioritize, and accomplish with ease. Explore our intuitive platform, unlock your productivity potential, and transform your to-dos into triumphs. Start your journey to a more organized and efficient life with Todoerist today!
                </h3>
              </div>
        </header>
        <!-- Section-->
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../../assets/pic1.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Create Your Todo-List</h5>
                                    <p>Start organizing your tasks and achieving your goals with our easy-to-use Todo-List feature. Our intuitive and user-friendly interface simplifies the task management process, allowing you to effortlessly prioritize, schedule, and track your activities.</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                      
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../../assets/pic2.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Be Responsible</h5>
                                    <p>Our platform empowers you to manage your tasks, deadlines, and commitments with accountability and integrity. By using Todoerist, you take ownership of your goals and responsibilities, ensuring that you stay organized and productive.</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                         
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../../assets/pic3.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Productivity</h5>
                                    <p>Our platform is designed to enhance your efficiency and effectiveness in managing tasks and projects. By utilizing Todoerist's powerful features and intuitive interface, you can streamline your workflows, prioritize your activities, and stay focused on what matters most.</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                        
                        </div>
                    </div>
                    
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="../../assets/pic4.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Reminder</h5>
                                    <p>Never miss an important appointment or deadline again as Todoerist enables you to set customizable reminders for all your tasks and events. With our intuitive interface, you can schedule reminders with ease.</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                           
                        </div>
                    </div>
                    
                        
                    
                </div>
            </div>
        
        <!-- Footer-->
       
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
