<body>
<header class="bg-dark py-5">
            
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          
          <div class="background-container">

              <p>About Todoerist</p>
              <p>"Learn About Todoerist on this Page"</p>
              <button class="button" routerLink="/list">Create Your Todo-List</button>

            </div>
      </div>
  </div>
  </header>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">About</h5>
                            <p>At Todoerist, we're passionate about helping individuals boost their productivity and accomplish their goals with ease. Our mission is to provide users with an intuitive and feature-rich task management platform that empowers them to take control of their busy lives.</p>
                        </div>
                    </div>
                    <!-- Product actions-->
              
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Our Vision</h5>
                            <p>Our vision is to become the go-to solution for individuals seeking to streamline their workflows, prioritize their tasks, and achieve greater efficiency in their daily lives. We aim to continually innovate and enhance our platform to meet the evolving needs of our users.</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                 
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Our Team</h5>
                            <p>Todoerist was founded by a team of dedicated individuals who are passionate about productivity and technology. With a diverse range of backgrounds and expertise, our team is committed to creating a platform that empowers users to achieve their full potential.</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                
                </div>
                </div>
                <div class="col mb-5">
                  <div class="card h-100">
                      <div class="card-body p-4">
                          <div class="text-center">
                              <!-- Product name-->
                              <h5 class="fw-bolder">Contact Us</h5>
                              <p>We value feedback from our users and are always eager to hear from you. If you have any questions, suggestions, or concerns, please don't hesitate to reach out to us at todoerist@gmail.com. Your input helps us improve Todoerist and better serve your needs.</p>
                          </div>
                      </div>
                      <!-- Product actions-->
                     
                  </div>
              </div>
        </div>
        </div>
        
</body>
